# Gaussian Naive Bayes

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Data/titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

### Data Preprocessing

In [3]:
df.drop(columns=['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [4]:
target = df['Survived']
inputs = df.drop(columns=['Survived'])

In [5]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female   male
0   False   True
1    True  False
2    True  False

In [6]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False

In [7]:
inputs.drop(columns=['Sex','male'],inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500   False
1       1  38.0  71.2833    True
2       3  26.0   7.9250    True

In [8]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [9]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [10]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500   False
1       1  38.0  71.2833    True
2       3  26.0   7.9250    True
3       1  35.0  53.1000    True
4       3  35.0   8.0500   False

### Training and testing

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [12]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [13]:
model.fit(X_train,y_train)

GaussianNB()

In [14]:
model.score(X_test,y_test)

0.7611940298507462

In [15]:
X_test[0:10]

     Pclass        Age     Fare  female
648       3  29.699118   7.5500   False
516       2  34.000000  10.5000    True
723       2  50.000000  13.0000   False
167       3  45.000000  27.9000    True
365       3  30.000000   7.2500   False
619       2  26.000000  10.5000   False
144       2  18.000000  11.5000   False
602       1  29.699118  42.4000   False
25        3  38.000000  31.3875    True
368       3  29.699118   7.7500    True

In [16]:
y_test[0:10]

648    0
516    1
723    0
167    0
365    0
619    0
144    0
602    0
25     1
368    1
Name: Survived, dtype: int64

In [17]:
model.predict(X_test[:10])

array([0, 1, 0, 1, 0, 0, 0, 0, 1, 0], dtype=int64)

In [18]:
model.predict_proba(X_test[:10])

array([[0.96994162, 0.03005838],
       [0.32868062, 0.67131938],
       [0.92523559, 0.07476441],
       [0.49157745, 0.50842255],
       [0.96992144, 0.03007856],
       [0.93163548, 0.06836452],
       [0.92393253, 0.07606747],
       [0.67725293, 0.32274707],
       [0.49071311, 0.50928689],
       [0.52677718, 0.47322282]])

#### Calculate the score using cross validation

In [19]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.768     , 0.76      , 0.728     , 0.77419355, 0.7983871 ])